* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
    overflow: hidden;
}

.main-container {
    height: 100vh;
    width: 100vw;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-container {
    padding: 20px 10px;
    width: 60%;
    max-width: 500px;
    border: 2px solid black;
}

.get_started {
    color: black;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight: 800;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

button {
    text-transform: uppercase;
    color: white;
    background: #951620;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}
.logo {
    padding-top: 0px;
    padding-left: 0px;
}

.line {
    background: lightgray;
    border-bottom: 2px solid lightgray;
}

.square {
    background: black;
    height: 40px;
    width: 40px;
}

footer {
    background: black;
    padding: 0 30px 40px;
}

footer .logo {
    height: 50px;
}

.contact {
    color: white;
    font-size: 10px;
    color: lightgray;
}

.career {
    color: white;
    font-size: 13px;
}

li {
    list-style: none;
}

.space_between {
    justify-content: space-between;
}