* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    padding: 0px;
    margin: 0px;
}

html, body {
    margin: 0;
    overflow: hidden;
}

.main-container {
    height: 100vh;
    width: 100vw;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
}

.news-container {
    width: 60%;
    max-width: 500px;
    border: 2px solid black;
    border-radius: 10px;
}

.padding {
    padding: 20px;
}
.get_started {
    color: black;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight: 800;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.mb-1 {
    margin-bottom: 10px;
}

button {
    text-transform: uppercase;
    color: white;
    background: #951620;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo {
    padding-top: 0px;
    padding-left: 0px;
}

.line {
    background: lightgray;
    border-bottom: 2px solid gray;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.square {
    background: black;
    min-height: 50px;
    width: 50px;
    align-content: center;
    justify-self: center;
}

footer {
    background: black;
    margin: 0px;
}

footer .logo {
    height: 50px;
    padding: 10px;
    width: 75px;
}

.mt-1 {
    margin-top: 10px;
}

.steps {
    padding-bottom: 20px;
}

.contact {
    color: white;
    font-size: 10px;
    color: lightgray;
    padding: 20px;
}

.career {
    color: white;
    font-size: 13px;
    padding: 10px 20px;
}

li {
    list-style: none;
}

.space_between {
    justify-content: space-between;
}

.align_item {
    align-items: flex-start;
}

.col-2 {
    width: calc(2/12 * 100%);
    padding-top: 0px;
}

.col-10 {
    width: calc(10/12 * 100%);
    padding-top: 0px;
}